@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@400;500;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/*
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;
*/

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #515151;
}

hr {
  border-style: solid;
  border-width: 0.5px;
  color: #EEEEEE;
}

h1 {
  font-size: 43px;
}

a {
  color: #515151;
  text-decoration: none;
}

a:hover {
  color: #e6b800; 
}

#main {
  max-width: 700px;
  transform: translate(10px, 50px);
  font-size: 13px;
}

#intro {
  display: none;
}

#research-interest {
  padding-bottom: 25px;
  font-size: 18px;
}

#education
img {
  display: none;
}

.school {
  transform: translate(-200px, 0px);
  padding-bottom: 5px;
}

.education-info {
  transform: translate(0px, -15px);
  color: #515151;
}

.research-experience-title {
  display: inline;
}

.research-experience-date {
  float: right;
  text-align: right;
  display: inline;
}

.research-experience-ul {
  transform: translate(-40px, -10px);
  list-style-type: none;
  width: 60vh;
  color: #515151;
}
