@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #515151;
}

hr {
  border-style: solid;
  border-width: 0.5px;
  color: #EEEEEE;
}

h1 {
  font-size: 45px;
}

a {
  color: #515151;
  text-decoration: none;
}

a:hover {
  color: #e6b800; 
}

#main {
  max-width: 700px;
  transform: translate(10px, 50px);
  font-size: 15px;
}

#intro {
  display: none;
}

#research-interest {
  padding-bottom: 25px;
  font-size: 20px;
}

#education
img {
  display: none;
}

.school {
  transform: translate(-200px, 0px);
  padding-bottom: 5px;
}

.education-info {
  transform: translate(0px, -15px);
  color: #515151;
}

.research-experience-title {
  display: inline;
}

.research-experience-date {
  float: right;
  text-align: right;
  display: inline;
}

.research-experience-ul {
  transform: translate(-40px, -10px);
  list-style-type: none;
  width: 60vh;
  color: #515151;
}
