
/* Font - Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding-top: 54px;
  font-size: 1.2rem;
  color: #868e96;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: #999;
    width: 100%;
  }
}

a{
  color: #3498db;
}

a:active, a:focus, a:hover{
  color: #f1c40f;
  text-decoration: none;
}

.text-primary{
  color:#868e96!important
}

#img{
  transform: translate(0px, 190px);
}

#name-small-window{
  transform: translate(0px, -190px);
}

#navbarSupportedContent{
  transform: translate(0px, 0px)!important;
}

#education img{
  display: none!important;
}

.school {
  display: table-cell;
  transform: translate(0px, -10px)!important;
  padding-bottom: 40px!important; 
  width: 100%;
}

.title {
  display: inline;
  padding-bottom: 10px;
}

.date {
  float: right;
  text-align: right;
  display: inline;
}

.resume-content {
  width: 100%;
}

.resume-ul {
  padding-top: 10px;
}

.resume-ul 
i {
  font-size: 13px;
  transform: translate(0px, -1px);
}

@media (min-width:992px){
  body{
    padding-top:0;
    padding-left:17rem
  }

  #navbarSupportedContent{
    transform: translate(0px, 215px)!important;
  }

  #education img{
    display: inline-block!important;
  }

  .school {
    transform: translate(0px, -35px)!important;
    padding-bottom: 0px!important; 
  }

}

.authors {
  font-color: #868e96;
}

.authors
a {
  color: #868e96;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #f1c40f;
}

.publication-link 
a {
  padding-right: 10px;
}

.publication-link 
i {
  font-size: 13px;
  transform: translate(0px, -1px);
}

.bibtex {
  display: none;
  transform: translate(-105px, 15px);
  font-size: 15px;
}

.detail {
  text-align: justify; 
  display: none;
  transform: translate(0px, 5px);
}

.hr-project {
  display: none;
}

.hr-misc {
  display: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight:300;
  color:#343a40
}

h1{
  font-size: 4rem;
  line-height: 5.5rem
}

h2{
  font-size: 3.5rem
}

.subheading{
  font-weight: 500;
  font-size: 1.1rem
}

.list-social-icons a{color:#495057}
.list-social-icons a:hover{color:#495057}
.list-social-icons a.fa-lg{font-size:1.75rem}
.list-icons{font-size:3rem}
.list-icons .list-inline-item i:hover{color:#DB890B} 

#sideNav .navbar-nav .nav-item .nav-link{
  font-weight: 600;
}

@media (min-width:992px){
    #sideNav{
        text-align:center;
        position:fixed;
        top:0;
        left:0;
        display:flex;
        flex-direction:column;
        width:17rem;
        height:100vh
    }
    #sideNav .navbar-brand{
        display:flex;
        margin:auto auto 0;
        padding:.5rem
    }
    #sideNav .navbar-brand .img-profile{
        max-width:10rem;
        max-height:10rem;
        border:.5rem solid rgba(255,255,255,.2)
    }
    #sideNav .navbar-collapse{
        display:flex;
        align-items:flex-start;
        flex-grow:0;
        width:100%;
        margin-bottom:auto
    }
    #sideNav .navbar-collapse .navbar-nav{
        flex-direction:column;
        width:100%
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item{
        display:block
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link{
        display:block
    }
}

section.resume-section{
    border-bottom:1px solid #dee2e6;
    padding-top:5rem!important;
    padding-bottom:5rem!important
}

section.resume-section .resume-item .resume-date .resume-overview{
    min-width:none
}

@media (min-width:768px){
    section.resume-section{
        min-height:100vh
    }
    section.resume-section .resume-item .resume-date{
        min-width:18rem
    }
    section.resume-overview{
        min-width:18rem
    }
}

@media (min-width:992px){
    section.resume-section{
        padding-top:3rem!important;
        padding-bottom:3rem!important
    }
}

.bg-primary{
  background-color:#A4C724!important
}


.bg-primary {
  background-color: #555555!important;
}
