
/* Font - Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding-top: 54px;
  font-size: 1.2rem;
  color: #868e96;
}

#img{
  transform: translate(0px, 190px);
}

#name-small-window{
  transform: translate(0px, -190px);
}

#navbarSupportedContent{
  transform: translate(0px, 0px)!important;
}

#education img{
  display: none!important;
}

.school {
  display: table-cell;
  transform: translate(-65px, -10px)!important;
  padding-bottom: 40px!important; 
  width: 100vh;
}

.research-experience-title {
  display: inline;
  padding-bottom: 10px;
}

.research-experience-date {
  float: right;
  text-align: right;
  display: inline;
}

.research-experience {
  width: 50vh!important;
}

.research-experience-ul {
  padding-top: 10px;
}

@media (min-width:992px){
  body{
    padding-top:0;
    padding-left:17rem
  }

  #navbarSupportedContent{
    transform: translate(0px, 215px)!important;
  }

  #education img{
    display: inline-block!important;
  }

  .school {
    transform: translate(0px, -35px)!important;
    padding-bottom: 0px!important; 
  }

  .research-experience {
    width: 100vh!important;
  }
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight:300;
    color:#343a40
}

h1{
    font-size:4rem;
    line-height:5.5rem
}

h2{
    font-size:3.5rem
}

.subheading{
    font-weight:500;
    font-family: 'Dosis', sans-serif;
    font-size:1.1rem
}

.list-social-icons a{color:#495057}
.list-social-icons a:hover{color:#495057}
.list-social-icons a.fa-lg{font-size:1.75rem}
.list-icons{font-size:3rem}
.list-icons .list-inline-item i:hover{color:#DB890B} 

#sideNav .navbar-nav .nav-item .nav-link{
    font-weight:600;
    /*text-transform:uppercase*/
}

@media (min-width:992px){
    #sideNav{
        text-align:center;
        position:fixed;
        top:0;
        left:0;
        display:flex;
        flex-direction:column;
        width:17rem;
        height:100vh
    }
    #sideNav .navbar-brand{
        display:flex;
        margin:auto auto 0;
        padding:.5rem
    }
    #sideNav .navbar-brand .img-profile{
        max-width:10rem;
        max-height:10rem;
        border:.5rem solid rgba(255,255,255,.2)
    }
    #sideNav .navbar-collapse{
        display:flex;
        align-items:flex-start;
        flex-grow:0;
        width:100%;
        margin-bottom:auto
    }
    #sideNav .navbar-collapse .navbar-nav{
        flex-direction:column;
        width:100%
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item{
        display:block
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link{
        display:block
    }
}

section.resume-section{
    border-bottom:1px solid #dee2e6;
    padding-top:5rem!important;
    padding-bottom:5rem!important
}

section.resume-section .resume-item .resume-date .resume-overview{
    min-width:none
}

@media (min-width:768px){
    section.resume-section{
        min-height:100vh
    }
    section.resume-section .resume-item .resume-date{
        min-width:18rem
    }
    section.resume-overview{
        min-width:18rem
    }
}

@media (min-width:992px){
    section.resume-section{
        padding-top:3rem!important;
        padding-bottom:3rem!important
    }
}

.bg-primary{
    background-color:#A4C724!important
}
.text-primary{
    color:#BF8D78!important
}
a{color:#BF8D78}
a:active,a:focus,a:hover{color:#BF8D78}

.bg-primary {
    background-color: #555555!important;
}
