@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Semi+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&family=Signika:wght@400;700&display=swap');
/* 
font-family: 'Baloo Tammudu 2', cursive;
font-family: 'Balsamiq Sans', cursive;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Pangolin', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Signika', sans-serif;
*/

:root {
  --pink-text: #ff9292;
  --pink-bg: #ffdcdc;
  --blue-text:  #a1cae2;
  --blue-bg: #e4fbff;
  --gray-text: #414141;
  --lightgray-text: #818181;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;  
  display: flex;
  color: var(--gray-text);
  font-size: 18px;
}

a {
  color: var(--pink-text);
  text-decoration: none;
}

a:hover {
  color: var(--blue-text);
}

#contents {
  padding-left: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  flex: 1;
  overflow: scroll;
  scroll-behavior: smooth;
}

.title {
  font-size: 30px;
  font-family: 'Pangolin', cursive;
  background-color: var(--blue-bg);
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
}

.contents-block {
  padding-bottom: 70px;
}

.item {
  padding-top: 10px;
  padding-left: 10px;
}

.item-name {
  /* font-size: 20px; */
  font-weight: bold;
  display: inline-block;
}

.item-date {
  font-size: 15px;
  float: right;
  color: var(--lightgray-text);
}

.item-ul {
  margin-top: 10px;
}

.item-li i {
  padding-right: 5px;
  font-size: 13px;
  transform: translate(0px, -1px);
  padding-left: 5px;
}

.item-li a {
  color: var(--gray-text);
}

.item-li a:first-of-type > i{
  padding-left: 0px;
}

.item-li a:hover {
  color: var(--pink-text);
}
