@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Caveat+Brush&family=Just+Another+Hand&family=Kavivanar&family=Patrick+Hand&family=Shadows+Into+Light+Two&family=Sriracha&display=swap');
/* 
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Caveat Brush', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Kavivanar', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Sriracha', cursive;
*/

:root {
  --pink-text: #ff9292;
  --pink-bg: #ffdcdc;
  --blue-text:  #a1cae2;
  --blue-bg: #e4fbff;
  --gray-text: #414141;
  --lightgray-text: #818181;
  --lightgray-border: #cccccc;
  --cv-highlight-text: #28527a;
}


body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: var(--gray-text);
  padding: 15px;
  -webkit-print-color-adjust: exact;
  font-size: 0.875rem;
}

a {
  color: var(--gray-text);
  text-decoration: none;
}

hr {
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid var(--lightgray-border);
}

ul {
  margin-block-start: 0.5rem;
}

#profile-img {
  display: none;
}

#anchor {
  display: none;
}

#footer {
  display: none;
}

#intro-name {
  font-size: 2.75rem;
  font-weight: bold;
  color: var(--cv-highlight-text);
}

#intro-position {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-style: italic;
}

.intro i {
  text-align: center;
  padding-right: 7px;
}

#intro-email {
  display: inline-block;
  padding-right: 20px;
}

#intro-cv {
  display: none;
}

#intro-cv-long {
  display: inline-block;
  padding-right: 20px;
}

#intro-google-scholar {
  display: inline-block;
}

#hello {
  display: none;
}

#about-me {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: justify;
}

.about-logo {
  height: 13px;
  transform: translate(0px, 1px);
}

#news {
  display: none;
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--cv-highlight-text);
  margin-top: 30px;
  width: auto;
  border-bottom: 1px solid var(--cv-highlight-text);
}

.school {
  padding-top: 10px;
}

.school-logo {
  display: none;
}

.school-name {
  font-weight: bold;
}

.item {
  padding-top: 10px;
}

.item-name {
  font-weight: bold;
  display: inline-block;
}

.item-date {
  float: right;
  font-size: 0.8rem;
  transform: translate(0px, 2px);
  color: var(--lightgray-text);
}

.item-ul {
  margin-top: 0px;
  list-style-type: none;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

.publication-title {
  font-weight: bold;
}

.publication-venue {
  font-style: italic;
}

#publications i {
  padding-right: 5px;
  font-size: 13px;
  transform: translate(0px, -1px);
}

.publication-href {
  padding-right: 10px;
}

.publication-detail {
  display: none
}

.publication-bibtex {
  display: none
}

.item-li i {
  padding-right: 5px;
  font-size: 13px;
  transform: translate(0px, -1px);
  padding-left: 5px;
}

.item-li a:first-of-type > i{
  padding-left: 0px;
}