@media (max-width: 992px) {

  body {
    display: block;
    padding: 10px;
  }

  #sidebar {
    padding-bottom: 10px;
  }

  #profile-img {
    display: none;
  }

  #intro-name {
    padding-top: 0px!important;
    font-size: 20px!important;
    display: inline-block;
    width: fit-content;
    padding-right: 10px;
    padding-bottom: 0px!important;
  }

  #intro-position {
    font-size: 15px!important;
    display: inline-block;
  }

  #intro-email {
    font-size: 15px!important;
    display: inline-block;
    width: fit-content;
    padding-right: 10px;
  }

  #intro-cv {
    font-size: 15px!important;
    display: inline-block;
    width: fit-content;
    padding-right: 10px;
  }

  #intro-google-scholar {
    font-size: 15px!important;
    display: inline-block;
    width: fit-content;
  }

  #footer {
    display: none;
  }

  #anchor {
    position: absolute;
    top: 40px; 
    padding-top: 0px!important;
    width: 100%;
    overflow: hidden;
    transform: translate(-3px, 0px)!important;
  }

  #anchor-ul {
    font-size: 18px;
  }

  .anchor-li {
    float: left;
  }

  .anchor-li a {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }

  #contents {
    width: 100%;
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 10px;
    font-size: 20px;
  }
}