@media (max-width: 992px) {

  body {
    display: block;
    overflow: scroll;
  }

  #sidebar {
    position: fixed;
    top: 20px;
    padding-top: 0px!important;
    padding-left: 0px!important;
  }

  #profile-img {
    display: none;
  }

  #intro-name {
    padding-top: 0px!important;
    font-size: 15px!important;
    display: inline-block;
    width: fit-content;
    padding-right: 13px;
    padding-bottom: 5px!important;
  }

  #intro-position {
    font-size: 13px!important;
    display: inline-block;
  }

  #intro-email {
    font-size: 13px!important;
    display: inline-block;
    width: fit-content;
    padding-right: 10px;
  }

  #intro-cv {
    font-size: 13px!important;
    display: inline-block!important;
    width: fit-content;
    padding-right: 10px;
    padding-top: 2px;
  }

  #intro-cv-long {
    display: none;
  }

  #intro-google-scholar {
    font-size: 13px!important;
    display: inline-block;
    width: fit-content;
  }

  #footer {
    display: none;
  }

  #anchor {
    padding-top: 0px!important;
    width: 90%;
    transform: translate(-3px, -10px)!important;
  }

  #anchor-ul {
    font-size: 12px;
  }

  .anchor-li {
    float: left;
  }

  .anchor-li a {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }

  #hello {
    font-size: 15px!important;
  }

  #about-me {
    font-size: 15px!important;
  }

  #news {
    font-size: 15px!important;
  }

  #news-title {
    font-size: 15px!important;
  }

  #contents {
    width: 90%;
    padding-left: 0px;
    padding-right: 10px;
    font-size: 20px;
    position: absolute;
    top: 100px;
    font-size: 15px!important;
  }
}