#misc-tutorial {
  padding-top: 70px;
}

#misc-teaching {
  padding-top: 70px;
}

#misc-mentoring {
  padding-top: 70px;
}

#misc-certification {
  padding-top: 70px;
}

#misc-service {
  padding-top: 70px;
}

#misc-skills {
  padding-top: 70px;
}