#sidebar { 
  font-family: 'Caveat Brush', cursive;
}

.intro {
  width: 225px;
  font-size: 18px;
  
}

#profile-img {  
  width: 200px;
  border-radius: 8%!important; 
}

#intro-name {
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 10px; 
  font-weight: bold;
}

.intro i {
  color: #515151;
  width: 20px;
  text-align: center;
  padding-right: 7px;
}

#intro-cv {
  display: none;
}

#footer {
  bottom: 50px;
  position: fixed;
  font-size: 15px;
  color: var(--lightgray-text);
}

#anchor {
  padding-top: 60px;
  font-size: 25px;
  text-align: center;
  transform: translate(-10px, 0px);
}

#anchor-ul {
  list-style: none;
  padding-left: 0px;
}

.anchor-li {
  text-align: -webkit-match-parent;
}

.anchor-href {
  color: var(--gray-text);
}

.anchor-li:hover > a {
  color: var(--blue-text);
}

.footer-comp {
  text-align: center;
}