.education-contents {
  padding-top: 10px;
  padding-bottom: 20px;
}

.school-logo {
  display: inline-block;
  padding-right: 30px;
  padding-left: 10px;
  transform: translate(0px, 4px);
}

.school-logo-img {
  height: 100px;
  width: auto;
}

.school {
  display: inline-block;
}

.school-name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

